
@media all and (min-width: 1024px) {
    #menu { 
        #collapsibleNavId {
            position: absolute;
            top: 50px;
            left: 10px;
            z-index: 10;
            background-color: hsla(100, 100%, 100%, 1);
            width: 100%;
            border: 1px solid;
        }
    }
}