html {
    height: 100%;
}

body {
    background-color: rgb(253, 251, 222);
    height: 100%;
}

.menu { 
    #collapsibleNavId {
        position: absolute;
        top: 50px;
        left: 0px;
        z-index: 10;
        background-color: rgba(253, 251, 222, 0.5);
        width: 100%;
        border: 1px solid;
    }
}

.footer {
    text-align: center;
    border-top: solid 1px black;
}

.region {
    display: block;
    width: auto;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: groove 2px;
    text-align: center;

    legend {
        padding: 0px 5px;
        width: auto;
        font-weight: bold;
        text-align: left;
    }
}