<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Title</title>
</head>
<body>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/window.js"></script>
    <div class="col-md-12">
        <div class="top-layout">
            
        </div>
    </div>
    <% include menu %>
    <div class="container">
        <div class="new">
            <fieldset class="region">
                <legend>Mới cập nhật</legend>
                <% if (typeof posts !== "undefined" &&
                posts.length > 0)
                {
                    posts.forEach(function(post) { %>
                        <div class="post">
                            <img src="<%=post['image']%>" />
                            <a href="<%=post['href']%>"
                                data-toggle="tooltip" title="<%=post['title']%>">
                                <%=post['title']%>
                            </a>
                        </div>
                <% })} %>
            </fieldset>
        </div>
        <div class="favorite">
            <fieldset class="region">
                <legend>Được ưa thích</legend>
            </fieldset>
        </div>
    </div>
    <% include footer %>
</body>
</html>