<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Title</title>
</head>
<body>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/window.js"></script>
    <div class="col-md-12">
        <div class="top-layout">
            
        </div>
    </div>
    <% include menu %>
    <div class="container">
        <div class="new">
            
        </div>
        <div class="favorite">

        </div>
        
    </div>
    <p><%=images.length%></p>
    <% if (typeof images !== "undefined" &&
        images.length > 0)
       {
        images.forEach(function(image) { %>
            <img src="<%=image%>" ></a>
    <% })} %>
</body>
</html>