<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Adding a Custom Overlay</title>
    <link rel="stylesheet" href="/stylesheets/maps.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKXxpEWGuU5gAG3MfC3rMzRYCunvIQh0Y"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKXxpEWGuU5gAG3MfC3rMzRYCunvIQh0Y&callback=initMap"
    async defer></script> -->
    <script src="/javascripts/maps.js"></script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>