/* Các CSS này dành cho toàn bộ website và desktop */
#content .post {
    display: inline-block;
    /* float: left; */
    margin: 1.5em auto;
    max-width: 180px;
    height: 130px;
    padding: 5px;
    text-align: left;
}

#content .post img {
    max-width: 100%;
}

#content .post a {
    line-height: 20px;
    font-size: 15px;
}

#content {
    text-align: center;
}

/* VIEW */
#view {
    float: left;
    width: 100%;
    text-align: center;
}

#view img {
    width: 100%;
    padding-top: 15px;
}

#view p {
    width: 100%;
    padding-top: 10px;
    text-align: left;
}

/* vertical suggest posts */
#ver-suggest-posts {
    float: right;
}

#menu #collapsibleNavId {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 10;
    background-color: hsla(100, 100%, 100%, 1);
    width: 100%;
    border: 1px solid;
}
  
 /* Dành cho điện thoại */
@media all and (min-width: 320px) {
    #item1, #item2 {
        display: block;
    }

    #item3, #item4, #item5, #item6 {
        display: none;
    }

    #dr-item1, #dr-item2{
        display: none;
    }

    /* #dr-item3, #dr-item4, #dr-item5,
    #dr-item6, #dr-menu {
        visibility: visible;
    } */
}
 
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
    #item1, #item2, #item3 {
        display: block;
    }

    #item4, #item5, #item6 {
        display: none;
    }

    #dr-item1, #dr-item2, #dr-item3{
        display: none;
    }

    /* #dr-item4, #dr-item5, #dr-item6,
    #dr-menu {
        visibility: visible;
    } */
}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {
    #item1, #item2, #item3, #item4 {
        display: block;
    }

    #item5, #item6 {
        display: none;
    }

    #dr-item1, #dr-item2, #dr-item3, 
    #dr-item4{
        display: none;
    }

    /* #dr-item5, #dr-item6, #dr-menu {
        visibility: visible;
    } */
}
 
/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
    #item1, #item2, #item3, #item4,
    #item5, #item6 {
        display: block;
    }

    #dr-item1, #dr-item2, #dr-item3, 
    #dr-item4, #dr-item5, #dr-item6,
    #dr-menu{
        display: none;
    }
}