.post {
    display: inline-block;
    margin: 10px 5px;
    width: 150px;
    height: 250px;
    text-align: left;
    position: relative;
    border: solid 1px silver;
    background-color: rgba(0, 0, 0, 0.7);

    img {
        max-width: 100%;
        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
    }

    a {
        position: absolute;
        display: -webkit-box;
        text-align: center;
        bottom: 0px;
        padding: 2px 5px;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
        max-height: 50px;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}