.readding {
    text-align: center;
    display: block;
    line-height: 1;

    .title {

    }

    .textblock {
        max-width: 100%;
        word-wrap: break-word;
        text-align: left;
    }
}