#menu { 
    #collapsibleNavId {
        position: absolute;
        top: 50px;
        left: 0px;
        z-index: 10;
        background-color: rgba(253, 251, 222, 0.5);
        width: 100%;
        border: 1px solid;
    }
}